extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Henry Blandon
        p Full Stack JavaScript Developer

        .about-bio
          //- my bio
          p I am an Army Veteran with strong Leadership skills with 12 years of experience in supervising, training, and working with teams in stressful environment to ensure accomplishment of the tasks, maximize productivity, and meet the Companies' goals. I have formal education in Business Administration and after my Military Service I found a passion in Computer Programming.
          p I am currently employed, and I spend my little free time learning to code. I would like to work on my own projects, but I also do not rule out to find a formal job as a developer to gain experience and learn new things. After this course I would like to focus on my own projects and learn to manipulate and visualize data from the internet.


      .skills-contact-box.box
        h6 Skills

        //- skills I have learned 
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        //- My real email not my real phone number
        ul
          li 555-555-1234
          li henry.blandon@yahoo.com

        //- My urls linking my GitHub account and the home page of LinkedIN and Twitter
        a.btn-link(href='https://www.linkedin.com/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/nicoya7791' target='_blank') GitHub
        a.btn-link(href='https://mobile.twitter.com/' target='_blank') Twitter
  
    nav.nav
      a(href='/')
        span &larr;
        |  Back