extends layout.pug

block content   
  nav.nav
    a(href='/')
      span &larr;
      |  Back
    //- displays error message,status and error stack
    h1 #{err.message}
    h2= err.status
    pre= err.stack

  nav.nav
    a(href='/')
      span &larr;
      |  Back
