extends layout.pug

block content
  article.portfolio-intro
    h1 Full-Stack Developer Student Portfolio 

    p This page showcases my journey through <a href='https://teamtreehouse.com/home' target='_blank'>teamtreehouse.com</a> Tech Degree program. My goal is to turn my Student Portfolio into my real project portfolio.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/${project.id}`) 
            img.thumbnail(src=`${project.image_urls[0]}` alt='thumbnail')
            h5 #{project.project_name}
            h5 My Site