extends layout.pug 

block content 
  nav.nav
    a(href='/')
      span &larr;
      |  Back
    h1 Erro 404- page not found!
    h2 #{err.message}
    
  nav.nav
    a(href='/')
      span &larr;
      |  Back
